{% extends "layout.html" %}
{% block body %}
<br><br><br>
    <div class="live">
        <h1 style="margin-left: 3.5em;">Book Tickets</h1>
        {% if 'loggedin' in session %}
      <div class="liveteams">
          <div class="liveteam team1">
            <h1 class="teammmm">TEAMS</h1>
            <div class="team-details">
              {% for match in ipl_matches %}
                <img src="/static//team/gt.svg" class="team-details-img" alt="">
                <p class="team-details-name">{{ team1name }}</p>
              {% endfor %}
            </div>
            
              <div class="team-score">

                  <div class="team-smolscore"></div>
                  <div class="team-overs"></div>
              </div>
          </div>
          
          <div class="progress-stat">
            <div class="booktickets-h"><p class="bt">Book Tickets</p></div>
            <div class="tickett">
                <p id="ticket-month">May<br></p>
                <div class="carousel-container">
                    <div class="carousel">
                      <div id="date-tue"  class="carousel-item" tabindex="0">
                        <p class="ticket-day">TUE</p>
                        <p class="ticket-date">23</p>
                      </div>
                      <div  id="date-wed" class="carousel-item" tabindex="0">
                        <p class="ticket-day">WED</p>
                        <p class="ticket-date">24</p>
                      </div>
                      <div  id="date-fri" class="carousel-item" tabindex="0">
                        <p class="ticket-day">FRI</p>
                        <p class="ticket-date">26</p>
                      </div>
                      <div  id="date-sun" class="carousel-item" tabindex="0">
                        <p class="ticket-day">SUN</p>
                        <p class="ticket-date">28</p>
                      </div>
                    </div>
                  </div>
                  
            </div>
          </div>
          <div class="liveteam team1">
            <h1 class="teammmm">TEAMS</h1>
              <div class="team-detailss">
                  <img src="{{team2img}}" class="team-details-img" alt="">
                  <p class="team-detials-name"></p>
              </div>
              <div class="team-score">

                  <div class="team-smolscore"></div>
                  <div class="team-overs"></div>
              </div>
          </div>
          
      </div>
        {% else %}
        {% endif %}
    </div>

{% endblock %}